@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Ticketing System</h1>
    <p class="lead">Система за отчитане на продажби от билетите на Национална лотария</p>
    <p><a href="/Employee" class="btn btn-primary btn-lg">Продажба на билети &raquo;</a></p>
*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Продавай билети</h2>
        <p>
            Чрез системата за продажба на билети, можете лесно и бързо да отчитате продадени билети, бързо и лесно - само с няколко клика!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Продажба на билети &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Индивидуални продажби за всеки служител</h2>
        <p>Всеки служител има възможност да прави продажби, като те се записват в базата данни с неговото име.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Служители &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Възможност за справки</h2>
        <p>Лесно могат да се направят справки - кой, колко билети е продал, колко билети от какъв вид и много други!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Справки &raquo;</a></p>
    </div>
</div>